/*
 * contextlinks.module
 * contextlinks.css
 * Default CSS for contextlinks module.
 *
 */

.contextlinks .contextlinks-text {
  font-style: italic;
}

.contextlinks img {
  display: inline;
  height: 1.2em;
  width: 1.2em;
  border: 0px;
}
